<section class="performance" style="background-color: #f0f0f0; padding: 50px 0;">
  <div class="container">
      <h2 class="text-center" style="margin-top: 50px;">Performance</h2>
      <div class="performance-details">
          <div class="performance-item card">
              <img src="../../assets/IMG4.jpg" alt="Acceleration">
              <div class="card-body">
                  <h3 style="color: blue;">Acceleration</h3>
                  <p style="color: rgb(119, 119, 216);">
                      Touch Controls > Pedals & Steering > Acceleration to adjust the amount of acceleration you experience when driving Model 3: Chill: limits acceleration for a smooth and gentle ride. When Chill is selected, Chill displays on the touchscreen above the driving speed.
                  </p>
              </div>
          </div>
          <div class="performance-item card">
              <img src="../../assets/img5.jpg" alt="Range">
              <div class="card-body">
                  <h3 style="color: blue;">Range</h3>
                  <p style="color: rgb(119, 119, 216);">
                      With up to 405 miles of estimated range and access to the world's largest and most powerful fast charging network, you'll spend less time plugged in and more time on the road.
                  </p>
              </div>
          </div>
      </div>
  </div>
</section>
