<section class="features" style="background-color: #f0f0f0; padding: 50px 0;">
  <div class="container">
      <h2 class="text-center" style="margin-top: 50px;">Key Features</h2>
      <div class="row">
          <div class="col-md-4">
              <div class="feature-item card">
                  <img src="../../assets/img1.webp" alt="Feature 1">
                  <div class="card-body">
                      <h3 style="color: blue;">Maps and Navigation</h3>
                      <p style="color: rgb(119, 119, 216);">
                          Model S detects real-time traffic conditions and automatically adjusts the estimated driving and arrival times. In situations where traffic conditions will delay your estimated time of arrival and an alternate route is available, the navigation system can reroute you to your destination.
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="feature-item card">
                  <img src="../../assets/img2.jpeg" alt="Feature 2">
                  <div class="card-body">
                      <h3 style="color: blue;">Dependence on fossil fuels</h3>
                      <p style="color: rgb(119, 119, 216);">
                          With zero emissions and reduced dependence on fossil fuels, owning a Tesla is a great way to reduce your carbon footprint and support renewable energy. In addition, Tesla cars offer financial benefits in terms of fuel savings, reduced maintenance costs, and potential tax savings.
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="feature-item card">
                  <img src="../../assets/img3.jpg" alt="Feature 3">
                  <div class="card-body">
                      <h3 style="color: blue;">Sensitivity of the Steering System</h3>
                      <p style="color: rgb(119, 119, 216);">
                          You can adjust the feel and sensitivity of the steering system to suit your personal preference: On the touchscreen, touch Controls > Pedals & Steering > Steering Mode. Choose a steering option: Comfort - Reduces the effort required to turn the steering wheel.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
