<footer class="footer mt-auto py-3">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <p class="text-center mb-0">Tesla © 2024. All rights reserved.</p>
          </div>
          <div class="col-md-6">
              <ul class="footer-links text-center">
                  <li><a href="#">Privacy & Legal</a></li>
                  <li><a href="#">Vehicle Recalls</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Get Updates</a></li>
                  <li><a href="#">Locations</a></li>
              </ul>
          </div>
      </div>
  </div>
</footer>
